*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body{
    overflow : hidden;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #f7faff;
}

.logo{
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.logo:hover {
    animation: logoani 3s linear 2;
}

ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

/* .nav-links ul li{
    list-style: none;
    display: flex;
    
} */

.nav-links ul li:hover{
    list-style: none;
    display: flex;
    font-size: 80px;
    background-color: #333;
    color: #fff;
    transform: scaleY(10px);
    transition: font-size 0.3s ease;
}

.nav-links ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: color 0.3s ease;
}   

.username{
    background: linear-gradient(to right, #00aaff, #4dc9ff);
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

.hero{
    display :flex;
    justify-content: space-around  ;
    margin-top: 50px;
    padding: 0px 80px;
    height: 60vh;
    background-color: white;
}

.hero-left{
    max-width: 50%;
}

.hero-left h1{
    font-size: 48px;
    margin-bottom: 20px;
    line-height: 1.2;
}   

.hero-left h1 span{
    margin-top: 20px;
    color: #007bff;
}

.hero-left p{
    color: #555;
    line-height: 1;
    margin-bottom: 20px;
}

.hero-left .button{
    background-color: #007bff;
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    
}


.hero-button{
    align-items: center;
    display: flex;
    justify-content: center;
}


.hero-right img{
    width: 100%;
    height: auto;
}



@media (max-width: 500px){
    .hero{
        flex-direction: column;
        text-align: center;
        font-size: 10px;
    }
    

    .hero-left, .hero-right{
        max-width: 100%;
    }

    .hero-right img{
        width: 100%;
        margin-top: 20px;
    }
}

@media (max-width: 600px){
    ul{
        flex-direction: column;
        gap: 10px;
    }

    .hero{
        flex-direction: column;
        text-align: center;
        
    }

    h1 span{
        font-size: 20px;
    }
    
    
    h1{
        font-size: 20px;
    }

    .hero-left, .hero-right{
        max-width: 100%;
    }

    .hero-right img{
        width: 100%;
        margin-top: 2px;
    }
}

@keyframes logoani {
    0% { 
        transform: skew(0deg) rotate(0deg); 

    }
    25% {
         transform: skew(90deg) rotate(90deg); 
        }
    50% {
         transform: skew(180deg) rotate(180deg); 
        }
    75% {
         transform: skew(270deg) rotate(270deg); 
        }
    100% {
         transform: skew(360deg) rotate(360deg);
         }
    
}