@media only screen and (max-width: 767px){
    section{padding:30px 0px;}
    .row,
    .hero-text-box{padding: 0 4%;}
    .col{
        width:100%;
        margin: 0 0 4% 0;
    }
    .plan-box{
        /* max-width: fit-content; */

        margin-top: 20px;
    }
   
    .row-submit{
        margin:0%;
    }

    input[type=submit]{
        min-width: fit-content;
        min-height: fit-content;
        max-height: fit-content;
        max-width: fit-content;
    }
    .row-cust{
        display: flex;
        flex-direction: column;
    }

    .row-cities{
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        text-align: center;
    }


    .row-cities img {
    width:350px;
    /* margin-right: 200px; */
    height: 350px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px #777575;
}
   
   /* .section-form{
    min-height: fit-content;
   } */

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact-form{
    box-shadow: none;
    border: none;
}
.span-1-of-5 {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    min-width: 150px;
    
}

.row-form{
    margin-left: 60px;
}




}

@media only screen and (max-width:480){
    body{width: 100%;
        font-size: 4%;
    }
    .section-form{
        width: 100%;
    }
    .submit-div{
        position: absolute;
        
    }

    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    .row-cities img {
    width: 350px;
    /* margin-right: 200px; */
    height: 250px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px #777575;
}
    .row-cust{
        display: flex;
        flex-direction: column;
    }

    .row-cities{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    .row {
    display: inline;
    /* width: 150px; */
    /* display: grid; */
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    max-width: 1140px;
    margin: 15px;
    padding: 0 1rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row-form{margin-left: 60px;}
    

.contact-form{
    box-shadow: none;
    border: none;
}
.span-1-of-5 {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    min-width: 150px;
}
}